=begin
#CF Chat

#This is the API documentation for CF Chat server.

The version of the OpenAPI document: 1.0.0
Contact: support@clickfunnels.com
Generated by: https://openapi-generator.tech
OpenAPI Generator version: 6.6.0

=end

require 'cgi'

module Cfchat
  class AccountAgentBotsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create an Agent Bot
    # Create an agent bot in the account
    # @param account_id [Integer] The numeric ID of the account
    # @param data [AgentBotCreateUpdatePayload] 
    # @param [Hash] opts the optional parameters
    # @return [AgentBot]
    def create_an_account_agent_bot(account_id, data, opts = {})
      data, _status_code, _headers = create_an_account_agent_bot_with_http_info(account_id, data, opts)
      data
    end

    # Create an Agent Bot
    # Create an agent bot in the account
    # @param account_id [Integer] The numeric ID of the account
    # @param data [AgentBotCreateUpdatePayload] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AgentBot, Integer, Hash)>] AgentBot data, response status code and response headers
    def create_an_account_agent_bot_with_http_info(account_id, data, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AccountAgentBotsApi.create_an_account_agent_bot ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling AccountAgentBotsApi.create_an_account_agent_bot"
      end
      # verify the required parameter 'data' is set
      if @api_client.config.client_side_validation && data.nil?
        fail ArgumentError, "Missing the required parameter 'data' when calling AccountAgentBotsApi.create_an_account_agent_bot"
      end
      # resource path
      local_var_path = '/api/v1/accounts/{account_id}/agent_bots'.sub('{' + 'account_id' + '}', CGI.escape(account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json; charset=utf-8'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json; charset=utf-8'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(data)

      # return_type
      return_type = opts[:debug_return_type] || 'AgentBot'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['userApiKey']

      new_options = opts.merge(
        :operation => :"AccountAgentBotsApi.create_an_account_agent_bot",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AccountAgentBotsApi#create_an_account_agent_bot\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete an AgentBot
    # Delete an AgentBot from the account
    # @param account_id [Integer] The numeric ID of the account
    # @param id [Integer] The ID of the agentbot to be updated
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_an_account_agent_bot(account_id, id, opts = {})
      delete_an_account_agent_bot_with_http_info(account_id, id, opts)
      nil
    end

    # Delete an AgentBot
    # Delete an AgentBot from the account
    # @param account_id [Integer] The numeric ID of the account
    # @param id [Integer] The ID of the agentbot to be updated
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_an_account_agent_bot_with_http_info(account_id, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AccountAgentBotsApi.delete_an_account_agent_bot ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling AccountAgentBotsApi.delete_an_account_agent_bot"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AccountAgentBotsApi.delete_an_account_agent_bot"
      end
      # resource path
      local_var_path = '/api/v1/accounts/{account_id}/agent_bots/{id}'.sub('{' + 'account_id' + '}', CGI.escape(account_id.to_s)).sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['userApiKey']

      new_options = opts.merge(
        :operation => :"AccountAgentBotsApi.delete_an_account_agent_bot",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AccountAgentBotsApi#delete_an_account_agent_bot\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get an agent bot details
    # Get the details of an agent bot in the account
    # @param account_id [Integer] The numeric ID of the account
    # @param id [Integer] The ID of the agentbot to be updated
    # @param [Hash] opts the optional parameters
    # @return [AgentBot]
    def get_details_of_a_single_account_agent_bot(account_id, id, opts = {})
      data, _status_code, _headers = get_details_of_a_single_account_agent_bot_with_http_info(account_id, id, opts)
      data
    end

    # Get an agent bot details
    # Get the details of an agent bot in the account
    # @param account_id [Integer] The numeric ID of the account
    # @param id [Integer] The ID of the agentbot to be updated
    # @param [Hash] opts the optional parameters
    # @return [Array<(AgentBot, Integer, Hash)>] AgentBot data, response status code and response headers
    def get_details_of_a_single_account_agent_bot_with_http_info(account_id, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AccountAgentBotsApi.get_details_of_a_single_account_agent_bot ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling AccountAgentBotsApi.get_details_of_a_single_account_agent_bot"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AccountAgentBotsApi.get_details_of_a_single_account_agent_bot"
      end
      # resource path
      local_var_path = '/api/v1/accounts/{account_id}/agent_bots/{id}'.sub('{' + 'account_id' + '}', CGI.escape(account_id.to_s)).sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json; charset=utf-8'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AgentBot'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['userApiKey']

      new_options = opts.merge(
        :operation => :"AccountAgentBotsApi.get_details_of_a_single_account_agent_bot",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AccountAgentBotsApi#get_details_of_a_single_account_agent_bot\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List all AgentBots
    # List all agent bots available for the current account
    # @param account_id [Integer] The numeric ID of the account
    # @param [Hash] opts the optional parameters
    # @return [Array<AgentBot>]
    def list_all_account_agent_bots(account_id, opts = {})
      data, _status_code, _headers = list_all_account_agent_bots_with_http_info(account_id, opts)
      data
    end

    # List all AgentBots
    # List all agent bots available for the current account
    # @param account_id [Integer] The numeric ID of the account
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<AgentBot>, Integer, Hash)>] Array<AgentBot> data, response status code and response headers
    def list_all_account_agent_bots_with_http_info(account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AccountAgentBotsApi.list_all_account_agent_bots ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling AccountAgentBotsApi.list_all_account_agent_bots"
      end
      # resource path
      local_var_path = '/api/v1/accounts/{account_id}/agent_bots'.sub('{' + 'account_id' + '}', CGI.escape(account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json; charset=utf-8'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<AgentBot>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['userApiKey']

      new_options = opts.merge(
        :operation => :"AccountAgentBotsApi.list_all_account_agent_bots",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AccountAgentBotsApi#list_all_account_agent_bots\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update an agent bot
    # Update an agent bot's attributes
    # @param account_id [Integer] The numeric ID of the account
    # @param id [Integer] The ID of the agentbot to be updated
    # @param data [AgentBotCreateUpdatePayload] 
    # @param [Hash] opts the optional parameters
    # @return [AgentBot]
    def update_an_account_agent_bot(account_id, id, data, opts = {})
      data, _status_code, _headers = update_an_account_agent_bot_with_http_info(account_id, id, data, opts)
      data
    end

    # Update an agent bot
    # Update an agent bot&#39;s attributes
    # @param account_id [Integer] The numeric ID of the account
    # @param id [Integer] The ID of the agentbot to be updated
    # @param data [AgentBotCreateUpdatePayload] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AgentBot, Integer, Hash)>] AgentBot data, response status code and response headers
    def update_an_account_agent_bot_with_http_info(account_id, id, data, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AccountAgentBotsApi.update_an_account_agent_bot ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling AccountAgentBotsApi.update_an_account_agent_bot"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AccountAgentBotsApi.update_an_account_agent_bot"
      end
      # verify the required parameter 'data' is set
      if @api_client.config.client_side_validation && data.nil?
        fail ArgumentError, "Missing the required parameter 'data' when calling AccountAgentBotsApi.update_an_account_agent_bot"
      end
      # resource path
      local_var_path = '/api/v1/accounts/{account_id}/agent_bots/{id}'.sub('{' + 'account_id' + '}', CGI.escape(account_id.to_s)).sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json; charset=utf-8'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json; charset=utf-8'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(data)

      # return_type
      return_type = opts[:debug_return_type] || 'AgentBot'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['userApiKey']

      new_options = opts.merge(
        :operation => :"AccountAgentBotsApi.update_an_account_agent_bot",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AccountAgentBotsApi#update_an_account_agent_bot\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
