=begin
#CF Chat

#This is the API documentation for CF Chat server.

The version of the OpenAPI document: 1.0.0
Contact: support@clickfunnels.com
Generated by: https://openapi-generator.tech
OpenAPI Generator version: 6.6.0

=end

require 'cgi'

module Cfchat
  class ConversationLabelsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Add Labels
    # Add labels to a conversation. Note that this API would overwrite the existing list of labels associated to the conversation.
    # @param account_id [Integer] The numeric ID of the account
    # @param conversation_id [Integer] The numeric ID of the conversation
    # @param data [ConversationAddLabelsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [ConversationLabels]
    def conversation_add_labels(account_id, conversation_id, data, opts = {})
      data, _status_code, _headers = conversation_add_labels_with_http_info(account_id, conversation_id, data, opts)
      data
    end

    # Add Labels
    # Add labels to a conversation. Note that this API would overwrite the existing list of labels associated to the conversation.
    # @param account_id [Integer] The numeric ID of the account
    # @param conversation_id [Integer] The numeric ID of the conversation
    # @param data [ConversationAddLabelsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ConversationLabels, Integer, Hash)>] ConversationLabels data, response status code and response headers
    def conversation_add_labels_with_http_info(account_id, conversation_id, data, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConversationLabelsApi.conversation_add_labels ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling ConversationLabelsApi.conversation_add_labels"
      end
      # verify the required parameter 'conversation_id' is set
      if @api_client.config.client_side_validation && conversation_id.nil?
        fail ArgumentError, "Missing the required parameter 'conversation_id' when calling ConversationLabelsApi.conversation_add_labels"
      end
      # verify the required parameter 'data' is set
      if @api_client.config.client_side_validation && data.nil?
        fail ArgumentError, "Missing the required parameter 'data' when calling ConversationLabelsApi.conversation_add_labels"
      end
      # resource path
      local_var_path = '/api/v1/accounts/{account_id}/conversations/{conversation_id}/labels'.sub('{' + 'account_id' + '}', CGI.escape(account_id.to_s)).sub('{' + 'conversation_id' + '}', CGI.escape(conversation_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json; charset=utf-8'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json; charset=utf-8'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(data)

      # return_type
      return_type = opts[:debug_return_type] || 'ConversationLabels'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['userApiKey']

      new_options = opts.merge(
        :operation => :"ConversationLabelsApi.conversation_add_labels",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConversationLabelsApi#conversation_add_labels\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Labels
    # Lists all the labels of a conversation
    # @param account_id [Integer] The numeric ID of the account
    # @param conversation_id [Integer] The numeric ID of the conversation
    # @param [Hash] opts the optional parameters
    # @return [ConversationLabels]
    def list_all_labels_of_a_conversation(account_id, conversation_id, opts = {})
      data, _status_code, _headers = list_all_labels_of_a_conversation_with_http_info(account_id, conversation_id, opts)
      data
    end

    # List Labels
    # Lists all the labels of a conversation
    # @param account_id [Integer] The numeric ID of the account
    # @param conversation_id [Integer] The numeric ID of the conversation
    # @param [Hash] opts the optional parameters
    # @return [Array<(ConversationLabels, Integer, Hash)>] ConversationLabels data, response status code and response headers
    def list_all_labels_of_a_conversation_with_http_info(account_id, conversation_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConversationLabelsApi.list_all_labels_of_a_conversation ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling ConversationLabelsApi.list_all_labels_of_a_conversation"
      end
      # verify the required parameter 'conversation_id' is set
      if @api_client.config.client_side_validation && conversation_id.nil?
        fail ArgumentError, "Missing the required parameter 'conversation_id' when calling ConversationLabelsApi.list_all_labels_of_a_conversation"
      end
      # resource path
      local_var_path = '/api/v1/accounts/{account_id}/conversations/{conversation_id}/labels'.sub('{' + 'account_id' + '}', CGI.escape(account_id.to_s)).sub('{' + 'conversation_id' + '}', CGI.escape(conversation_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json; charset=utf-8'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ConversationLabels'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['userApiKey']

      new_options = opts.merge(
        :operation => :"ConversationLabelsApi.list_all_labels_of_a_conversation",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConversationLabelsApi#list_all_labels_of_a_conversation\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
