=begin
#CF Chat

#This is the API documentation for CF Chat server.

The version of the OpenAPI document: 1.0.0
Contact: support@clickfunnels.com
Generated by: https://openapi-generator.tech
OpenAPI Generator version: 6.6.0

=end

require 'cgi'

module Cfchat
  class CustomAttributesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Add a new custom attribute
    # Add a new custom attribute to account
    # @param account_id [Integer] The numeric ID of the account
    # @param data [CustomAttributeCreateUpdatePayload] 
    # @param [Hash] opts the optional parameters
    # @return [CustomAttribute]
    def add_new_custom_attribute_to_account(account_id, data, opts = {})
      data, _status_code, _headers = add_new_custom_attribute_to_account_with_http_info(account_id, data, opts)
      data
    end

    # Add a new custom attribute
    # Add a new custom attribute to account
    # @param account_id [Integer] The numeric ID of the account
    # @param data [CustomAttributeCreateUpdatePayload] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CustomAttribute, Integer, Hash)>] CustomAttribute data, response status code and response headers
    def add_new_custom_attribute_to_account_with_http_info(account_id, data, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CustomAttributesApi.add_new_custom_attribute_to_account ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling CustomAttributesApi.add_new_custom_attribute_to_account"
      end
      # verify the required parameter 'data' is set
      if @api_client.config.client_side_validation && data.nil?
        fail ArgumentError, "Missing the required parameter 'data' when calling CustomAttributesApi.add_new_custom_attribute_to_account"
      end
      # resource path
      local_var_path = '/api/v1/accounts/{account_id}/custom_attribute_definitions'.sub('{' + 'account_id' + '}', CGI.escape(account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json; charset=utf-8'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json; charset=utf-8'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(data)

      # return_type
      return_type = opts[:debug_return_type] || 'CustomAttribute'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['userApiKey']

      new_options = opts.merge(
        :operation => :"CustomAttributesApi.add_new_custom_attribute_to_account",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CustomAttributesApi#add_new_custom_attribute_to_account\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Remove a custom attribute from account
    # Remove a custom attribute from account
    # @param account_id [Integer] The numeric ID of the account
    # @param id [Integer] The ID of the custom attribute to be deleted
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_custom_attribute_from_account(account_id, id, opts = {})
      delete_custom_attribute_from_account_with_http_info(account_id, id, opts)
      nil
    end

    # Remove a custom attribute from account
    # Remove a custom attribute from account
    # @param account_id [Integer] The numeric ID of the account
    # @param id [Integer] The ID of the custom attribute to be deleted
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_custom_attribute_from_account_with_http_info(account_id, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CustomAttributesApi.delete_custom_attribute_from_account ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling CustomAttributesApi.delete_custom_attribute_from_account"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling CustomAttributesApi.delete_custom_attribute_from_account"
      end
      # resource path
      local_var_path = '/api/v1/accounts/{account_id}/custom_attribute_definitions/{id}'.sub('{' + 'account_id' + '}', CGI.escape(account_id.to_s)).sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['userApiKey']

      new_options = opts.merge(
        :operation => :"CustomAttributesApi.delete_custom_attribute_from_account",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CustomAttributesApi#delete_custom_attribute_from_account\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List all custom attributes in an account
    # Get details of custom attributes in an Account
    # @param account_id [Integer] The numeric ID of the account
    # @param attribute_model [String] conversation_attribute(0)/contact_attribute(1)
    # @param [Hash] opts the optional parameters
    # @return [Array<CustomAttribute>]
    def get_account_custom_attribute(account_id, attribute_model, opts = {})
      data, _status_code, _headers = get_account_custom_attribute_with_http_info(account_id, attribute_model, opts)
      data
    end

    # List all custom attributes in an account
    # Get details of custom attributes in an Account
    # @param account_id [Integer] The numeric ID of the account
    # @param attribute_model [String] conversation_attribute(0)/contact_attribute(1)
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<CustomAttribute>, Integer, Hash)>] Array<CustomAttribute> data, response status code and response headers
    def get_account_custom_attribute_with_http_info(account_id, attribute_model, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CustomAttributesApi.get_account_custom_attribute ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling CustomAttributesApi.get_account_custom_attribute"
      end
      # verify the required parameter 'attribute_model' is set
      if @api_client.config.client_side_validation && attribute_model.nil?
        fail ArgumentError, "Missing the required parameter 'attribute_model' when calling CustomAttributesApi.get_account_custom_attribute"
      end
      # verify enum value
      allowable_values = ["0", "1"]
      if @api_client.config.client_side_validation && !allowable_values.include?(attribute_model)
        fail ArgumentError, "invalid value for \"attribute_model\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/v1/accounts/{account_id}/custom_attribute_definitions'.sub('{' + 'account_id' + '}', CGI.escape(account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'attribute_model'] = attribute_model

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json; charset=utf-8'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<CustomAttribute>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['userApiKey']

      new_options = opts.merge(
        :operation => :"CustomAttributesApi.get_account_custom_attribute",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CustomAttributesApi#get_account_custom_attribute\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a custom attribute details
    # Get the details of a custom attribute in the account
    # @param account_id [Integer] The numeric ID of the account
    # @param id [Integer] The ID of the custom attribute to be updated.
    # @param [Hash] opts the optional parameters
    # @return [CustomAttribute]
    def get_details_of_a_single_custom_attribute(account_id, id, opts = {})
      data, _status_code, _headers = get_details_of_a_single_custom_attribute_with_http_info(account_id, id, opts)
      data
    end

    # Get a custom attribute details
    # Get the details of a custom attribute in the account
    # @param account_id [Integer] The numeric ID of the account
    # @param id [Integer] The ID of the custom attribute to be updated.
    # @param [Hash] opts the optional parameters
    # @return [Array<(CustomAttribute, Integer, Hash)>] CustomAttribute data, response status code and response headers
    def get_details_of_a_single_custom_attribute_with_http_info(account_id, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CustomAttributesApi.get_details_of_a_single_custom_attribute ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling CustomAttributesApi.get_details_of_a_single_custom_attribute"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling CustomAttributesApi.get_details_of_a_single_custom_attribute"
      end
      # resource path
      local_var_path = '/api/v1/accounts/{account_id}/custom_attribute_definitions/{id}'.sub('{' + 'account_id' + '}', CGI.escape(account_id.to_s)).sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json; charset=utf-8'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CustomAttribute'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['userApiKey']

      new_options = opts.merge(
        :operation => :"CustomAttributesApi.get_details_of_a_single_custom_attribute",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CustomAttributesApi#get_details_of_a_single_custom_attribute\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update custom attribute in Account
    # Update a custom attribute in account
    # @param account_id [Integer] The numeric ID of the account
    # @param id [Integer] The ID of the custom attribute to be updated.
    # @param data [CustomAttributeCreateUpdatePayload] 
    # @param [Hash] opts the optional parameters
    # @return [CustomAttribute]
    def update_custom_attribute_in_account(account_id, id, data, opts = {})
      data, _status_code, _headers = update_custom_attribute_in_account_with_http_info(account_id, id, data, opts)
      data
    end

    # Update custom attribute in Account
    # Update a custom attribute in account
    # @param account_id [Integer] The numeric ID of the account
    # @param id [Integer] The ID of the custom attribute to be updated.
    # @param data [CustomAttributeCreateUpdatePayload] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CustomAttribute, Integer, Hash)>] CustomAttribute data, response status code and response headers
    def update_custom_attribute_in_account_with_http_info(account_id, id, data, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CustomAttributesApi.update_custom_attribute_in_account ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling CustomAttributesApi.update_custom_attribute_in_account"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling CustomAttributesApi.update_custom_attribute_in_account"
      end
      # verify the required parameter 'data' is set
      if @api_client.config.client_side_validation && data.nil?
        fail ArgumentError, "Missing the required parameter 'data' when calling CustomAttributesApi.update_custom_attribute_in_account"
      end
      # resource path
      local_var_path = '/api/v1/accounts/{account_id}/custom_attribute_definitions/{id}'.sub('{' + 'account_id' + '}', CGI.escape(account_id.to_s)).sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json; charset=utf-8'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json; charset=utf-8'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(data)

      # return_type
      return_type = opts[:debug_return_type] || 'CustomAttribute'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['userApiKey']

      new_options = opts.merge(
        :operation => :"CustomAttributesApi.update_custom_attribute_in_account",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CustomAttributesApi#update_custom_attribute_in_account\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
