=begin
#CF Chat

#This is the API documentation for CF Chat server.

The version of the OpenAPI document: 1.0.0
Contact: support@clickfunnels.com
Generated by: https://openapi-generator.tech
OpenAPI Generator version: 6.6.0

=end

require 'cgi'

module Cfchat
  class MessagesAPIApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a message
    # Create a message
    # @param inbox_identifier [String] The identifier obtained from API inbox channel
    # @param contact_identifier [String] The source id of contact obtained on contact create
    # @param conversation_id [Integer] The numeric ID of the conversation
    # @param data [PublicMessageCreatePayload] 
    # @param [Hash] opts the optional parameters
    # @return [PublicMessage]
    def create_a_message(inbox_identifier, contact_identifier, conversation_id, data, opts = {})
      data, _status_code, _headers = create_a_message_with_http_info(inbox_identifier, contact_identifier, conversation_id, data, opts)
      data
    end

    # Create a message
    # Create a message
    # @param inbox_identifier [String] The identifier obtained from API inbox channel
    # @param contact_identifier [String] The source id of contact obtained on contact create
    # @param conversation_id [Integer] The numeric ID of the conversation
    # @param data [PublicMessageCreatePayload] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PublicMessage, Integer, Hash)>] PublicMessage data, response status code and response headers
    def create_a_message_with_http_info(inbox_identifier, contact_identifier, conversation_id, data, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MessagesAPIApi.create_a_message ...'
      end
      # verify the required parameter 'inbox_identifier' is set
      if @api_client.config.client_side_validation && inbox_identifier.nil?
        fail ArgumentError, "Missing the required parameter 'inbox_identifier' when calling MessagesAPIApi.create_a_message"
      end
      # verify the required parameter 'contact_identifier' is set
      if @api_client.config.client_side_validation && contact_identifier.nil?
        fail ArgumentError, "Missing the required parameter 'contact_identifier' when calling MessagesAPIApi.create_a_message"
      end
      # verify the required parameter 'conversation_id' is set
      if @api_client.config.client_side_validation && conversation_id.nil?
        fail ArgumentError, "Missing the required parameter 'conversation_id' when calling MessagesAPIApi.create_a_message"
      end
      # verify the required parameter 'data' is set
      if @api_client.config.client_side_validation && data.nil?
        fail ArgumentError, "Missing the required parameter 'data' when calling MessagesAPIApi.create_a_message"
      end
      # resource path
      local_var_path = '/public/api/v1/inboxes/{inbox_identifier}/contacts/{contact_identifier}/conversations/{conversation_id}/messages'.sub('{' + 'inbox_identifier' + '}', CGI.escape(inbox_identifier.to_s)).sub('{' + 'contact_identifier' + '}', CGI.escape(contact_identifier.to_s)).sub('{' + 'conversation_id' + '}', CGI.escape(conversation_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json; charset=utf-8'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json; charset=utf-8'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(data)

      # return_type
      return_type = opts[:debug_return_type] || 'PublicMessage'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"MessagesAPIApi.create_a_message",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MessagesAPIApi#create_a_message\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List all messages
    # List all messages in the conversation
    # @param inbox_identifier [String] The identifier obtained from API inbox channel
    # @param contact_identifier [String] The source id of contact obtained on contact create
    # @param conversation_id [Integer] The numeric ID of the conversation
    # @param [Hash] opts the optional parameters
    # @return [Array<PublicMessage>]
    def list_all_converation_messages(inbox_identifier, contact_identifier, conversation_id, opts = {})
      data, _status_code, _headers = list_all_converation_messages_with_http_info(inbox_identifier, contact_identifier, conversation_id, opts)
      data
    end

    # List all messages
    # List all messages in the conversation
    # @param inbox_identifier [String] The identifier obtained from API inbox channel
    # @param contact_identifier [String] The source id of contact obtained on contact create
    # @param conversation_id [Integer] The numeric ID of the conversation
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<PublicMessage>, Integer, Hash)>] Array<PublicMessage> data, response status code and response headers
    def list_all_converation_messages_with_http_info(inbox_identifier, contact_identifier, conversation_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MessagesAPIApi.list_all_converation_messages ...'
      end
      # verify the required parameter 'inbox_identifier' is set
      if @api_client.config.client_side_validation && inbox_identifier.nil?
        fail ArgumentError, "Missing the required parameter 'inbox_identifier' when calling MessagesAPIApi.list_all_converation_messages"
      end
      # verify the required parameter 'contact_identifier' is set
      if @api_client.config.client_side_validation && contact_identifier.nil?
        fail ArgumentError, "Missing the required parameter 'contact_identifier' when calling MessagesAPIApi.list_all_converation_messages"
      end
      # verify the required parameter 'conversation_id' is set
      if @api_client.config.client_side_validation && conversation_id.nil?
        fail ArgumentError, "Missing the required parameter 'conversation_id' when calling MessagesAPIApi.list_all_converation_messages"
      end
      # resource path
      local_var_path = '/public/api/v1/inboxes/{inbox_identifier}/contacts/{contact_identifier}/conversations/{conversation_id}/messages'.sub('{' + 'inbox_identifier' + '}', CGI.escape(inbox_identifier.to_s)).sub('{' + 'contact_identifier' + '}', CGI.escape(contact_identifier.to_s)).sub('{' + 'conversation_id' + '}', CGI.escape(conversation_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json; charset=utf-8'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<PublicMessage>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['userApiKey']

      new_options = opts.merge(
        :operation => :"MessagesAPIApi.list_all_converation_messages",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MessagesAPIApi#list_all_converation_messages\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a message
    # Update a message
    # @param inbox_identifier [String] The identifier obtained from API inbox channel
    # @param contact_identifier [String] The source id of contact obtained on contact create
    # @param conversation_id [Integer] The numeric ID of the conversation
    # @param message_id [Integer] The numeric ID of the message
    # @param data [PublicMessageUpdatePayload] 
    # @param [Hash] opts the optional parameters
    # @return [PublicMessage]
    def update_a_message(inbox_identifier, contact_identifier, conversation_id, message_id, data, opts = {})
      data, _status_code, _headers = update_a_message_with_http_info(inbox_identifier, contact_identifier, conversation_id, message_id, data, opts)
      data
    end

    # Update a message
    # Update a message
    # @param inbox_identifier [String] The identifier obtained from API inbox channel
    # @param contact_identifier [String] The source id of contact obtained on contact create
    # @param conversation_id [Integer] The numeric ID of the conversation
    # @param message_id [Integer] The numeric ID of the message
    # @param data [PublicMessageUpdatePayload] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PublicMessage, Integer, Hash)>] PublicMessage data, response status code and response headers
    def update_a_message_with_http_info(inbox_identifier, contact_identifier, conversation_id, message_id, data, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MessagesAPIApi.update_a_message ...'
      end
      # verify the required parameter 'inbox_identifier' is set
      if @api_client.config.client_side_validation && inbox_identifier.nil?
        fail ArgumentError, "Missing the required parameter 'inbox_identifier' when calling MessagesAPIApi.update_a_message"
      end
      # verify the required parameter 'contact_identifier' is set
      if @api_client.config.client_side_validation && contact_identifier.nil?
        fail ArgumentError, "Missing the required parameter 'contact_identifier' when calling MessagesAPIApi.update_a_message"
      end
      # verify the required parameter 'conversation_id' is set
      if @api_client.config.client_side_validation && conversation_id.nil?
        fail ArgumentError, "Missing the required parameter 'conversation_id' when calling MessagesAPIApi.update_a_message"
      end
      # verify the required parameter 'message_id' is set
      if @api_client.config.client_side_validation && message_id.nil?
        fail ArgumentError, "Missing the required parameter 'message_id' when calling MessagesAPIApi.update_a_message"
      end
      # verify the required parameter 'data' is set
      if @api_client.config.client_side_validation && data.nil?
        fail ArgumentError, "Missing the required parameter 'data' when calling MessagesAPIApi.update_a_message"
      end
      # resource path
      local_var_path = '/public/api/v1/inboxes/{inbox_identifier}/contacts/{contact_identifier}/conversations/{conversation_id}/messages/{message_id}'.sub('{' + 'inbox_identifier' + '}', CGI.escape(inbox_identifier.to_s)).sub('{' + 'contact_identifier' + '}', CGI.escape(contact_identifier.to_s)).sub('{' + 'conversation_id' + '}', CGI.escape(conversation_id.to_s)).sub('{' + 'message_id' + '}', CGI.escape(message_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json; charset=utf-8'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json; charset=utf-8'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(data)

      # return_type
      return_type = opts[:debug_return_type] || 'PublicMessage'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"MessagesAPIApi.update_a_message",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MessagesAPIApi#update_a_message\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
