=begin
#CF Chat

#This is the API documentation for CF Chat server.

The version of the OpenAPI document: 1.0.0
Contact: support@clickfunnels.com
Generated by: https://openapi-generator.tech
OpenAPI Generator version: 6.6.0

=end

require 'cgi'

module Cfchat
  class MessagesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create New Message
    # Create a new message in the conversation
    # @param account_id [Integer] The numeric ID of the account
    # @param conversation_id [Integer] The numeric ID of the conversation
    # @param data [ConversationMessageCreate] 
    # @param [Hash] opts the optional parameters
    # @return [CreateANewMessageInAConversation200Response]
    def create_a_new_message_in_a_conversation(account_id, conversation_id, data, opts = {})
      data, _status_code, _headers = create_a_new_message_in_a_conversation_with_http_info(account_id, conversation_id, data, opts)
      data
    end

    # Create New Message
    # Create a new message in the conversation
    # @param account_id [Integer] The numeric ID of the account
    # @param conversation_id [Integer] The numeric ID of the conversation
    # @param data [ConversationMessageCreate] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateANewMessageInAConversation200Response, Integer, Hash)>] CreateANewMessageInAConversation200Response data, response status code and response headers
    def create_a_new_message_in_a_conversation_with_http_info(account_id, conversation_id, data, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MessagesApi.create_a_new_message_in_a_conversation ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling MessagesApi.create_a_new_message_in_a_conversation"
      end
      # verify the required parameter 'conversation_id' is set
      if @api_client.config.client_side_validation && conversation_id.nil?
        fail ArgumentError, "Missing the required parameter 'conversation_id' when calling MessagesApi.create_a_new_message_in_a_conversation"
      end
      # verify the required parameter 'data' is set
      if @api_client.config.client_side_validation && data.nil?
        fail ArgumentError, "Missing the required parameter 'data' when calling MessagesApi.create_a_new_message_in_a_conversation"
      end
      # resource path
      local_var_path = '/api/v1/accounts/{account_id}/conversations/{conversation_id}/messages'.sub('{' + 'account_id' + '}', CGI.escape(account_id.to_s)).sub('{' + 'conversation_id' + '}', CGI.escape(conversation_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json; charset=utf-8'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json; charset=utf-8'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(data)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateANewMessageInAConversation200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['userApiKey', 'agentBotApiKey']

      new_options = opts.merge(
        :operation => :"MessagesApi.create_a_new_message_in_a_conversation",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MessagesApi#create_a_new_message_in_a_conversation\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a message
    # Delete a message and it's attachments from the conversation.
    # @param account_id [Integer] The numeric ID of the account
    # @param conversation_id [Integer] The numeric ID of the conversation
    # @param message_id [Integer] The numeric ID of the message
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_a_message(account_id, conversation_id, message_id, opts = {})
      delete_a_message_with_http_info(account_id, conversation_id, message_id, opts)
      nil
    end

    # Delete a message
    # Delete a message and it&#39;s attachments from the conversation.
    # @param account_id [Integer] The numeric ID of the account
    # @param conversation_id [Integer] The numeric ID of the conversation
    # @param message_id [Integer] The numeric ID of the message
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_a_message_with_http_info(account_id, conversation_id, message_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MessagesApi.delete_a_message ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling MessagesApi.delete_a_message"
      end
      # verify the required parameter 'conversation_id' is set
      if @api_client.config.client_side_validation && conversation_id.nil?
        fail ArgumentError, "Missing the required parameter 'conversation_id' when calling MessagesApi.delete_a_message"
      end
      # verify the required parameter 'message_id' is set
      if @api_client.config.client_side_validation && message_id.nil?
        fail ArgumentError, "Missing the required parameter 'message_id' when calling MessagesApi.delete_a_message"
      end
      # resource path
      local_var_path = '/api/v1/accounts/{account_id}/conversations/{conversation_id}/messages/{message_id}'.sub('{' + 'account_id' + '}', CGI.escape(account_id.to_s)).sub('{' + 'conversation_id' + '}', CGI.escape(conversation_id.to_s)).sub('{' + 'message_id' + '}', CGI.escape(message_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['userApiKey']

      new_options = opts.merge(
        :operation => :"MessagesApi.delete_a_message",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MessagesApi#delete_a_message\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get messages
    # List all messages of a conversation
    # @param account_id [Integer] The numeric ID of the account
    # @param conversation_id [Integer] The numeric ID of the conversation
    # @param [Hash] opts the optional parameters
    # @return [Array<ListAllMessages200ResponseInner>]
    def list_all_messages(account_id, conversation_id, opts = {})
      data, _status_code, _headers = list_all_messages_with_http_info(account_id, conversation_id, opts)
      data
    end

    # Get messages
    # List all messages of a conversation
    # @param account_id [Integer] The numeric ID of the account
    # @param conversation_id [Integer] The numeric ID of the conversation
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<ListAllMessages200ResponseInner>, Integer, Hash)>] Array<ListAllMessages200ResponseInner> data, response status code and response headers
    def list_all_messages_with_http_info(account_id, conversation_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MessagesApi.list_all_messages ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling MessagesApi.list_all_messages"
      end
      # verify the required parameter 'conversation_id' is set
      if @api_client.config.client_side_validation && conversation_id.nil?
        fail ArgumentError, "Missing the required parameter 'conversation_id' when calling MessagesApi.list_all_messages"
      end
      # resource path
      local_var_path = '/api/v1/accounts/{account_id}/conversations/{conversation_id}/messages'.sub('{' + 'account_id' + '}', CGI.escape(account_id.to_s)).sub('{' + 'conversation_id' + '}', CGI.escape(conversation_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json; charset=utf-8'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<ListAllMessages200ResponseInner>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['userApiKey']

      new_options = opts.merge(
        :operation => :"MessagesApi.list_all_messages",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MessagesApi#list_all_messages\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
